%h1 Compañías

%table.table.table-striped
  %thead
    %tr
      %th Número
      %th Nombre
  %tbody
    - @companies.each do |company|
      %tr
        %td= company.id
        %td= link_to company.short_name, company_path(company)
